{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block header %} Login Authentication {% endblock %}

{% block body %}
{% with msg = get_flashed_messages() %}
    {% if msg %}
        {% for message in msg %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error !</strong> {{ message }}
                <button type="button" class="btn-close" aria-label="Close">
                </button>
            </div>
            {% endfor %}
    {% endif %}
{% endwith %}
<div class="login">
    <h1>Login</h1>
    <div class="links">
        <a href="{{ url_for('login') }}" class="active">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
    <form action="{{ url_for('login') }}" method="post">
        <label for="email">
            <i class="far fa-envelope"></i>
        </label>
        <input type="text" name="email" placeholder="Email" id="email" required>
        <label for="password">
            <i class="fas fa-lock"></i>
        </label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <div class="msg">{{ msg }}</div>
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}